<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243001507953-tsqlrintsil9o0bve3ke7eig5f29q0e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243001507953-tsqlrintsil9o0bve3ke7eig5f29q0e9</string>
	<key>API_KEY</key>
	<string>AIzaSyDFCOKkAcVMBh-escwZpnaNeRHynr9Ryak</string>
	<key>GCM_SENDER_ID</key>
	<string>243001507953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hcmus.finalproj.AdoptMe</string>
	<key>PROJECT_ID</key>
	<string>adoptme-dae92</string>
	<key>STORAGE_BUCKET</key>
	<string>adoptme-dae92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243001507953:ios:18a941210a2d56d8495bd0</string>
</dict>
</plist>